header {
  height: 100vh;
  padding-top: 2.5rem;
  overflow: hidden;
}

.header__container {
  height: 100%;
  position: relative;
}

.header__navbar {
  padding-left: 2rem;
  font-size: 1rem;
}

.header__main {
  position: relative;
  bottom: 1rem;
  right: 5rem;
}

.active-link {
  color: var(--color-white);
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.header__container-text1 {
  display: flex;
  font-size: 20px;
  position: absolute;
  top: 40vh;
  left: 20vh;
}

.header__container-text2 {
  display: flex;
  font-size: 25px;
  position: absolute;
  top: 46vh;
  left: 20vh;
}

.header__container-text3 {
  display: flex;
  font-size: 20px;
  position: absolute;
  top: 56vh;
  left: 20vh;
}

.header__container-text4 {
  display: flex;
  position: absolute;
  top: 62vh;
  left: 20vh;
}

.header__container-text5 {
  display: flex;
  font-size: 20px;
  position: absolute;
  top: 69vh;
  left: 20vh;
}

/* ============= CTA =============== */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 70vh;
  left: 20vh;
}

/*  ============== HeaderSocials ================= */
.header__socials {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 2rem;
  bottom: 9rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/*  ===================== ME ====================== */

.me {
  /* background: linear-gradient(var(--color-primary),transparent); */
  width: 25rem;
  height: 27rem;
  position: absolute;
  left: calc(75% - 15rem);
  margin-top: 6rem;
  border-radius: 0 0 100% 100%;
  overflow: hidden;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

/*  ===================== Scroll Down ====================== */

.scroll__down {
  position: absolute;
  right: -1.5rem;
  bottom: 12rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

.mouse__down {
  position: relative;
  left: 10px;
  top: 3px;
  font-weight: 300;
  font-size: 1rem;
  transform: rotate(90deg);
}

/* ================== MEDIA QUERIES (MEDIUM DEVICES)================ */

@media screen and (max-width: 1024px) {
  header {
    height: 75vh;
  }

  .header__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    font-size: 9px;
    position: relative;
    left: 5px;
  }

  .header__main {
    position: relative;
    top: -0.6rem;
    right: 2rem;
  }

  .me {
    margin-top: 1.5rem;
    text-align: center;
    width: 20rem;
    height: 23rem;
    position: absolute;
    left: calc(90% - 15rem);
  }

  .header__container-text1 {
    top: 10rem;
    left: 3rem;
  }

  .header__container-text2 {
    top: 13rem;
    left: 3rem;
  }

  .header__container-text3 {
    top: 18rem;
    left: 3rem;
  }

  .header__container-text4 {
    top: 20.5rem;
    left: 3rem;
  }

  .header__container-text5 {
    top: 24rem;
    left: 3rem;
  }

  .cta {
    top: 24rem;
    left: 3rem;
  }

  .header__socials {
    top: 15rem;
    left: 5px;
  }

  .scroll__down {
    position: absolute;
    right: -4rem;
    bottom: 13rem;
  }
}

/* ================== MEDIA QUERIES (SMALL DEVICES)================ */

@media screen and (max-width: 600px) {
  header {
    height: 125vh;
  }

  .me {
    margin-top: -1.5rem;
    left: 20px;
    width: 20rem;
    height: 23rem;
  }

  .header__container-text1 {
    top: 25rem;
    left: 0;
  }

  .header__container-text2 {
    top: 28rem;
    left: 0;
  }

  .header__container-text3 {
    top: 33rem;
    left: 0;
  }

  .header__container-text4 {
    top: 36.5rem;
    left: 0;
  }

  .header__container-text5 {
    top: 41rem;
    left: 0;
  }

  .cta {
    top: 42rem;
    left: 0;
  }

  .header__socials,
  .scroll__down,
  .header__navbar {
    display: none;
  }
}